@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
  font-size: 100%;
}

body {
  color: #000;
  line-height: 1;
  font-size: 1.25rem;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-weight: 800;
}
body._lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > * {
  min-width: 0;
}

.page {
  background-color: #f9f9f9;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
[class*=__container] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  position: relative;
  color: #FFF;
  font-family: Gilroy;
  border-radius: 0.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #000;
}
@media (any-hover: hover) {
  .btn:hover {
    opacity: 0.9;
  }
}
.btn span {
  position: relative;
}
.btn--google span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url("../img/icons/google-play.svg") 0 0/cover no-repeat;
}
.btn--apple span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url("../img/icons/app-store.svg") 0 0/cover no-repeat;
}
@media (max-width: 47.99875em) {
  .btn {
    border-radius: 0.1875rem;
  }
}

.form {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem 0.6875rem;
  -ms-grid-columns: minmax(17.5rem, 1fr) 0.6875rem auto;
  grid-template-columns: minmax(17.5rem, 1fr) auto;
}
@media (max-width: 37.5em) {
  .form {
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, auto));
  }
}
.form__btn {
  padding: 1.25rem 3rem;
}
@supports (font-size: clamp( 1.125rem , 1.027173913rem  +  0.4347826087vw , 1.375rem )) {
  .form__btn {
    font-size: clamp( 1.125rem , 1.027173913rem  +  0.4347826087vw , 1.375rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 1.027173913rem  +  0.4347826087vw , 1.375rem )) {
  .form__btn {
    font-size: calc(1.125rem + 0.25 * (100vw - 22.5rem) / 57.5);
  }
}
@media (max-width: 68.75em) {
  .form__btn {
    padding: 1.25rem 1.875rem;
  }
}

.input {
  color: #000;
  width: 100%;
  border-radius: 0.3125rem;
  background-color: #fff;
  padding: 1.375rem;
  font-weight: 600;
}
@supports (font-size: clamp( 1rem , 0.902173913rem  +  0.4347826087vw , 1.25rem )) {
  .input {
    font-size: clamp( 1rem , 0.902173913rem  +  0.4347826087vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.902173913rem  +  0.4347826087vw , 1.25rem )) {
  .input {
    font-size: calc(1rem + 0.25 * (100vw - 22.5rem) / 57.5);
  }
}
.input::-webkit-input-placeholder {
  color: #DADADA;
}
.input::-moz-placeholder {
  color: #DADADA;
}
.input:-ms-input-placeholder {
  color: #DADADA;
}
.input::-ms-input-placeholder {
  color: #DADADA;
}
.input::placeholder {
  color: #DADADA;
}
.input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.input:focus::-moz-placeholder {
  opacity: 0;
}
.input:focus:-ms-input-placeholder {
  opacity: 0;
}
.input:focus::-ms-input-placeholder {
  opacity: 0;
}
.input:focus::placeholder {
  opacity: 0;
}

.title {
  text-align: center;
  line-height: 108.537%;
  font-family: Gilroy;
  text-transform: uppercase;
}
@supports (font-size: clamp( 1.5rem , 0.9619565217rem  +  2.3913043478vw , 2.875rem )) {
  .title {
    font-size: clamp( 1.5rem , 0.9619565217rem  +  2.3913043478vw , 2.875rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 0.9619565217rem  +  2.3913043478vw , 2.875rem )) {
  .title {
    font-size: calc(1.5rem + 1.375 * (100vw - 22.5rem) / 57.5);
  }
}
.title span {
  color: #75BF7A;
}

.text {
  color: #9E9DA2;
  font-weight: 500;
  line-height: 130%;
  font-size: 1.25rem;
}

.steps {
  max-width: 18.125rem;
}
.steps:nth-child(1) {
  padding-top: 2.25rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
@media (max-width: 61.99875em) {
  .steps:nth-child(1) {
    padding: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.steps:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
@media (max-width: 61.99875em) {
  .steps:nth-child(2) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}
.steps:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
@media (max-width: 61.99875em) {
  .steps:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
.steps:nth-child(4) {
  padding-top: 2.25rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
@media (max-width: 61.99875em) {
  .steps:nth-child(4) {
    padding: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 61.99875em) {
  .steps:nth-child(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}
.steps:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (max-width: 47.99875em) {
  .steps:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 61.99875em) {
  .steps {
    text-align: center;
  }
}
@media (min-width: 61.99875em) {
  .steps--right {
    text-align: right;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
.steps__number {
  padding: 0.75rem 1.4375rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-family: Gilroy;
  color: #75BF7A;
  line-height: 108.537%;
}
@supports (font-size: clamp( 1.875rem , 1.777173913rem  +  0.4347826087vw , 2.125rem )) {
  .steps__number {
    font-size: clamp( 1.875rem , 1.777173913rem  +  0.4347826087vw , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 1.777173913rem  +  0.4347826087vw , 2.125rem )) {
  .steps__number {
    font-size: calc(1.875rem + 0.25 * (100vw - 22.5rem) / 57.5);
  }
}
.steps__number::after {
  content: "";
  position: absolute;
  width: 3.8125rem;
  height: 3.8125rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/works/icons/circle.svg") 0 0/cover no-repeat;
}
@media (max-width: 47.99875em) {
  .steps__number::after {
    width: 3.4375rem;
    height: 3.4375rem;
  }
}
.steps__number:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.steps__title {
  font-family: Gilroy;
  line-height: 128.847%;
  font-size: 1.375rem;
}
.steps__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.cards {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 66.25rem;
  min-height: 19rem;
  padding: 1.5625rem;
  border-radius: 0.625rem;
  background-color: #fff;
}
@supports (padding-right: clamp( 1.125rem , -1.125rem  +  10vw , 6.875rem )) {
  .cards {
    padding-right: clamp( 1.125rem , -1.125rem  +  10vw , 6.875rem );
  }
}
@supports not (padding-right: clamp( 1.125rem , -1.125rem  +  10vw , 6.875rem )) {
  .cards {
    padding-right: calc(1.125rem + 5.75 * (100vw - 22.5rem) / 57.5);
  }
}
@supports (padding-left: clamp( 1.125rem , 0.6358695652rem  +  2.1739130435vw , 2.375rem )) {
  .cards {
    padding-left: clamp( 1.125rem , 0.6358695652rem  +  2.1739130435vw , 2.375rem );
  }
}
@supports not (padding-left: clamp( 1.125rem , 0.6358695652rem  +  2.1739130435vw , 2.375rem )) {
  .cards {
    padding-left: calc(1.125rem + 1.25 * (100vw - 22.5rem) / 57.5);
  }
}
.cards:not(:last-child) {
  margin-bottom: 3.5rem;
}
@media (max-width: 47.99875em) {
  .cards:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.cards--right {
  margin-left: auto;
}
@media (min-width: 47.99875em) {
  @supports (padding-right: clamp( 1.125rem , -2.3722826087rem  +  15.5434782609vw , 10.0625rem )) {
    .cards--right {
      padding-right: clamp( 1.125rem , -2.3722826087rem  +  15.5434782609vw , 10.0625rem );
    }
  }
  @supports not (padding-right: clamp( 1.125rem , -2.3722826087rem  +  15.5434782609vw , 10.0625rem )) {
    .cards--right {
      padding-right: calc(1.125rem + 8.9375 * (100vw - 22.5rem) / 57.5);
    }
  }
  @supports (padding-left: clamp( 1.125rem , -1.125rem  +  10vw , 6.875rem )) {
    .cards--right {
      padding-left: clamp( 1.125rem , -1.125rem  +  10vw , 6.875rem );
    }
  }
  @supports not (padding-left: clamp( 1.125rem , -1.125rem  +  10vw , 6.875rem )) {
    .cards--right {
      padding-left: calc(1.125rem + 5.75 * (100vw - 22.5rem) / 57.5);
    }
  }
}
@media (max-width: 47.99875em) {
  .cards--right .cards__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .cards--right .cards__body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .cards--right .cards__text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 47.99875em) {
  .cards {
    padding-top: 2.0625rem;
    padding-bottom: 3.125rem;
    border-radius: 0.1875rem;
  }
}
.cards__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}
@media (min-width: 47.99875em) {
  .cards__item {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
  }
}
@media (max-width: 47.99875em) {
  .cards__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.cards__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1.5625rem 1fr;
  grid-template-columns: auto 1fr;
  gap: 1.5625rem;
}
.cards__top:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 47.99875em) {
  .cards__top {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
}
.cards__number {
  color: #75BF7A;
  font-weight: 500;
  line-height: 75%;
}
@supports (font-size: clamp( 4rem , 3.4130434783rem  +  2.6086956522vw , 5.5rem )) {
  .cards__number {
    font-size: clamp( 4rem , 3.4130434783rem  +  2.6086956522vw , 5.5rem );
  }
}
@supports not (font-size: clamp( 4rem , 3.4130434783rem  +  2.6086956522vw , 5.5rem )) {
  .cards__number {
    font-size: calc(4rem + 1.5 * (100vw - 22.5rem) / 57.5);
  }
}
@media (max-width: 47.99875em) {
  .cards__number {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
.cards__title {
  font-weight: 600;
  line-height: 95.749%;
  max-width: 13.75rem;
}
@supports (font-size: clamp( 1.5rem , 1.2554347826rem  +  1.0869565217vw , 2.125rem )) {
  .cards__title {
    font-size: clamp( 1.5rem , 1.2554347826rem  +  1.0869565217vw , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.2554347826rem  +  1.0869565217vw , 2.125rem )) {
  .cards__title {
    font-size: calc(1.5rem + 0.625 * (100vw - 22.5rem) / 57.5);
  }
}
@media (max-width: 61.99875em) {
  .cards__title {
    max-width: 12.5rem;
  }
}
@media (max-width: 47.99875em) {
  .cards__title {
    max-width: 11.5625rem;
  }
}
@media (max-width: 29.99875em) {
  .cards__title {
    max-width: 10.3125rem;
  }
}
@media (max-width: 22.4375em) {
  .cards__title {
    font-size: 1.3125rem;
    max-width: 9.375rem;
  }
}
.cards__text {
  font-size: 1.375rem;
  max-width: 32.5rem;
}
@media (max-width: 29.99875em) {
  .cards__text {
    font-size: 1rem;
  }
}
.cards__text--mx {
  max-width: 24.0625rem;
}
.cards__text--minmx {
  max-width: 16.875rem;
}
@media (max-width: 47.99875em) {
  .cards__text {
    text-align: center;
  }
}
.cards__image {
  min-width: 9.375rem;
}
.cards__image img {
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .cards__image {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@supports (padding-top: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.375rem )) {
  .header {
    padding-top: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.375rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.375rem )) {
  .header {
    padding-top: calc(1.25rem + 1.125 * (100vw - 20rem) / 61.875);
  }
}
@supports (padding-bottom: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.375rem )) {
  .header {
    padding-bottom: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.375rem );
  }
}
@supports not (padding-bottom: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.375rem )) {
  .header {
    padding-bottom: calc(1.25rem + 1.125 * (100vw - 20rem) / 61.875);
  }
}
.header._fixed {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.header__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.9375rem;
     -moz-column-gap: 2.9375rem;
          column-gap: 2.9375rem;
  row-gap: 0.625rem;
  -ms-grid-columns: 1fr 2.9375rem auto;
  grid-template-columns: 1fr auto;
}
.header__logo {
  position: relative;
  z-index: 2;
  min-width: 5.8125rem;
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .header__logo {
    width: 5.8125rem;
  }
}
.header__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.9375rem;
     -moz-column-gap: 2.9375rem;
          column-gap: 2.9375rem;
  row-gap: 0.625rem;
  -ms-grid-columns: 1fr 2.9375rem auto;
  grid-template-columns: 1fr auto;
}
@media (max-width: 61.99875em) {
  .header__content {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .header__content {
    -ms-grid-columns: 1fr auto auto;
    grid-template-columns: 1fr auto auto;
  }
}
@media (max-width: 29.99875em) {
  .header__content {
    display: block;
  }
}
.header__btn {
  position: relative;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem 2.0625rem;
  line-height: 1.2272727273;
  font-size: 1.375rem;
  font-weight: 600;
  border-radius: 0.375rem;
  background-color: #75BF7A;
  color: #fff;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__btn:hover {
    background-color: #4e9753;
  }
}
@media (max-width: 61.99875em) {
  .header__btn {
    padding: 0.75rem 1.5625rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 3.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #fff;
    overflow-y: auto;
    padding: 9.375rem 0.9375rem 1.875rem;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 8.4375rem;
    left: -100%;
    top: 0;
    background-color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::after {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.875rem;
     -moz-column-gap: 2.875rem;
          column-gap: 2.875rem;
  row-gap: 0.625rem;
}
@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.1875rem;
  }
}
.menu__link {
  font-family: Roboto;
  color: #000;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.2352941176;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #75BF7A;
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.625rem;
  }
}
.menu__link._active {
  color: #75BF7A;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    background-color: transparent;
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 35;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: #000;
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }
}

.footer {
  padding: 2.5rem 0rem;
}
@media (max-width: 47.99875em) {
  .footer {
    padding: 1.25rem 0rem;
  }
}
.footer__body {
  position: relative;
}
.footer__body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  left: 0;
  bottom: 0;
  background-color: #ECECEC;
}
.footer__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  padding-bottom: 2.5rem;
}
@media (min-width: 47.99875em) {
  .footer__items {
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }
}
@media (max-width: 47.99875em) {
  .footer__items {
    padding-bottom: 1.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__logo {
  width: 8.1875rem;
}
.footer__logo svg {
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer__logo:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.footer__content {
  -ms-grid-column-align: center;
      justify-self: center;
}
@media (max-width: 47.99875em) {
  .footer__content {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
  }
  .footer__content:not(:last-child) {
    margin-top: 1.25rem;
  }
}
.footer__title {
  color: #272042;
  font-weight: 500;
  line-height: 1.2272727273;
  font-size: 1.375rem;
}
.footer__title:not(:last-child) {
  margin-bottom: 1.3125rem;
}
.footer__item {
  display: block;
  color: #9E9DA2;
  font-size: 1.125rem;
  font-weight: 400;
}
.footer__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (any-hover: hover) {
  .footer__email:hover {
    text-decoration: underline;
  }
}
.footer__buttons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem 2.5rem;
}
@media (max-width: 47.99875em) {
  .footer__buttons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media (min-width: 47.99875em) {
  .footer__buttons {
    -ms-grid-columns: minmax(9.375rem, 11.125rem) minmax(9.375rem, 11.125rem);
    grid-template-columns: repeat(2, minmax(9.375rem, 11.125rem));
  }
}
.footer__btn {
  padding: 0.75rem 1.375rem;
  font-size: 1.0625rem;
}
.footer__btn.btn--google span {
  padding-left: 2.3125rem;
}
.footer__btn.btn--google span::after {
  width: 1.875rem;
  height: 1.6875rem;
}
@media (max-width: 47.99875em) {
  .footer__btn.btn--google span {
    padding-left: 1.875rem;
  }
  .footer__btn.btn--google span::after {
    width: 1.5625rem;
    height: 1.375rem;
  }
}
.footer__btn.btn--apple span {
  padding-left: 2.3125rem;
}
.footer__btn.btn--apple span::after {
  width: 1.75rem;
  height: 1.75rem;
}
@media (max-width: 47.99875em) {
  .footer__btn.btn--apple span {
    padding-left: 1.875rem;
  }
  .footer__btn.btn--apple span::after {
    width: 1.4375rem;
    height: 1.4375rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__btn {
    font-size: 0.875rem;
  }
}
.footer__copy {
  padding-top: 2.5rem;
  font-weight: 400;
  color: #75BF7A;
  font-size: 1rem;
  line-height: 1.1875;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .footer__copy {
    padding-top: 1.25rem;
  }
}

@supports (padding-top: clamp( 5rem , 2.9393939394rem  +  10.303030303vw , 11.375rem )) {
  .main {
    padding-top: clamp( 5rem , 2.9393939394rem  +  10.303030303vw , 11.375rem );
  }
}
@supports not (padding-top: clamp( 5rem , 2.9393939394rem  +  10.303030303vw , 11.375rem )) {
  .main {
    padding-top: calc(5rem + 6.375 * (100vw - 20rem) / 61.875);
  }
}
@supports (padding-bottom: clamp( 4.125rem , 3.720959596rem  +  2.0202020202vw , 5.375rem )) {
  .main {
    padding-bottom: clamp( 4.125rem , 3.720959596rem  +  2.0202020202vw , 5.375rem );
  }
}
@supports not (padding-bottom: clamp( 4.125rem , 3.720959596rem  +  2.0202020202vw , 5.375rem )) {
  .main {
    padding-bottom: calc(4.125rem + 1.25 * (100vw - 20rem) / 61.875);
  }
}
.main__container {
  display: -ms-grid;
  display: grid;
  gap: 2rem 2.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (min-width: 61.99875em) {
  .main__container {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
  }
}
.main__body {
  max-width: 34.375rem;
}
@media (max-width: 47.99875em) {
  .main__body {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.main__title {
  font-family: Gilroy;
  text-transform: uppercase;
  line-height: 108.537%;
}
@supports (font-size: clamp( 2.1875rem , 1.5760869565rem  +  2.7173913043vw , 3.75rem )) {
  .main__title {
    font-size: clamp( 2.1875rem , 1.5760869565rem  +  2.7173913043vw , 3.75rem );
  }
}
@supports not (font-size: clamp( 2.1875rem , 1.5760869565rem  +  2.7173913043vw , 3.75rem )) {
  .main__title {
    font-size: calc(2.1875rem + 1.5625 * (100vw - 22.5rem) / 57.5);
  }
}
.main__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.main__text {
  color: #9E9DA2;
  font-weight: 500;
  line-height: 116.667%;
}
@supports (font-size: clamp( 1.125rem , 0.9782608696rem  +  0.652173913vw , 1.5rem )) {
  .main__text {
    font-size: clamp( 1.125rem , 0.9782608696rem  +  0.652173913vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.9782608696rem  +  0.652173913vw , 1.5rem )) {
  .main__text {
    font-size: calc(1.125rem + 0.375 * (100vw - 22.5rem) / 57.5);
  }
}
@supports (margin-bottom: clamp( 1.5625rem , 0.7065217391rem  +  3.8043478261vw , 3.75rem )) {
  .main__text:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 0.7065217391rem  +  3.8043478261vw , 3.75rem );
  }
}
@supports not (margin-bottom: clamp( 1.5625rem , 0.7065217391rem  +  3.8043478261vw , 3.75rem )) {
  .main__text:not(:last-child) {
    margin-bottom: calc(1.5625rem + 2.1875 * (100vw - 22.5rem) / 57.5);
  }
}
.main__buttons {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
}
@media (max-width: 47.99875em) {
  .main__buttons {
    gap: 1.25rem 1.0625rem;
  }
}
.main__btn {
  padding: 1.1875rem 2.0625rem;
}
@supports (font-size: clamp( 0.875rem , 0.6304347826rem  +  1.0869565217vw , 1.5rem )) {
  .main__btn {
    font-size: clamp( 0.875rem , 0.6304347826rem  +  1.0869565217vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.6304347826rem  +  1.0869565217vw , 1.5rem )) {
  .main__btn {
    font-size: calc(0.875rem + 0.625 * (100vw - 22.5rem) / 57.5);
  }
}
.main__btn.btn--google span {
  padding-left: 3.5625rem;
}
.main__btn.btn--google span::after {
  width: 2.5625rem;
  height: 2.5625rem;
}
@media (max-width: 47.99875em) {
  .main__btn.btn--google span {
    padding-left: 2rem;
  }
  .main__btn.btn--google span::after {
    width: 1.625rem;
    height: 1.625rem;
  }
}
.main__btn.btn--apple span {
  padding-left: 3.5625rem;
}
.main__btn.btn--apple span::after {
  width: 2.5625rem;
  height: 2.5625rem;
}
@media (max-width: 47.99875em) {
  .main__btn.btn--apple span {
    padding-left: 2rem;
  }
  .main__btn.btn--apple span::after {
    width: 1.625rem;
    height: 1.625rem;
  }
}
@media (max-width: 29.99875em) {
  .main__btn {
    padding: 0.9375rem 1.25rem;
  }
}
@media (max-width: 22.4375em) {
  .main__btn {
    padding: 0.9375rem 0.625rem;
  }
}
.main__image {
  -ms-grid-column-align: end;
      justify-self: end;
}
@supports (margin-right: clamp( 0.0000000625rem , -14.4236108333rem  +  23.2638885417vw , 4.1875rem )) {
  .main__image {
    margin-right: clamp( 0.0000000625rem , -14.4236108333rem  +  23.2638885417vw , 4.1875rem );
  }
}
@supports not (margin-right: clamp( 0.0000000625rem , -14.4236108333rem  +  23.2638885417vw , 4.1875rem )) {
  .main__image {
    margin-right: calc(0.0000000625rem + 4.1874999375 * (100vw - 62rem) / 18);
  }
}
.main__image img {
  max-width: 100%;
}
@media (max-width: 61.99875em) {
  .main__image {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media (max-width: 47.99875em) {
  .main__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.callback__body {
  border-radius: 0.625rem;
  background-color: #75BF7A;
  display: -ms-grid;
  display: grid;
  row-gap: 1.5625rem;
}
@supports (padding-top: clamp( 1.375rem , 0.6902173913rem  +  3.0434782609vw , 3.125rem )) {
  .callback__body {
    padding-top: clamp( 1.375rem , 0.6902173913rem  +  3.0434782609vw , 3.125rem );
  }
}
@supports not (padding-top: clamp( 1.375rem , 0.6902173913rem  +  3.0434782609vw , 3.125rem )) {
  .callback__body {
    padding-top: calc(1.375rem + 1.75 * (100vw - 22.5rem) / 57.5);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 1.3858695652rem  +  2.1739130435vw , 3.125rem )) {
  .callback__body {
    padding-bottom: clamp( 1.875rem , 1.3858695652rem  +  2.1739130435vw , 3.125rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 1.3858695652rem  +  2.1739130435vw , 3.125rem )) {
  .callback__body {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 22.5rem) / 57.5);
  }
}
@supports (padding-left: clamp( 1.125rem , -0.1467391304rem  +  5.652173913vw , 4.375rem )) {
  .callback__body {
    padding-left: clamp( 1.125rem , -0.1467391304rem  +  5.652173913vw , 4.375rem );
  }
}
@supports not (padding-left: clamp( 1.125rem , -0.1467391304rem  +  5.652173913vw , 4.375rem )) {
  .callback__body {
    padding-left: calc(1.125rem + 3.25 * (100vw - 22.5rem) / 57.5);
  }
}
@supports (padding-right: clamp( 1.125rem , -0.1467391304rem  +  5.652173913vw , 4.375rem )) {
  .callback__body {
    padding-right: clamp( 1.125rem , -0.1467391304rem  +  5.652173913vw , 4.375rem );
  }
}
@supports not (padding-right: clamp( 1.125rem , -0.1467391304rem  +  5.652173913vw , 4.375rem )) {
  .callback__body {
    padding-right: calc(1.125rem + 3.25 * (100vw - 22.5rem) / 57.5);
  }
}
@supports ((-moz-column-gap: clamp( 1.875rem , -4.6875rem  +  13.671875vw , 6.25rem )) or (column-gap: clamp( 1.875rem , -4.6875rem  +  13.671875vw , 6.25rem ))) {
  .callback__body {
    -webkit-column-gap: clamp( 1.875rem , -4.6875rem  +  13.671875vw , 6.25rem );
       -moz-column-gap: clamp( 1.875rem , -4.6875rem  +  13.671875vw , 6.25rem );
            column-gap: clamp( 1.875rem , -4.6875rem  +  13.671875vw , 6.25rem );
  }
}
@supports not ((-moz-column-gap: clamp( 1.875rem , -4.6875rem  +  13.671875vw , 6.25rem )) or (column-gap: clamp( 1.875rem , -4.6875rem  +  13.671875vw , 6.25rem ))) {
  .callback__body {
    -webkit-column-gap: calc(1.875rem + 4.375 * (100vw - 48rem) / 32);
       -moz-column-gap: calc(1.875rem + 4.375 * (100vw - 48rem) / 32);
            column-gap: calc(1.875rem + 4.375 * (100vw - 48rem) / 32);
  }
}
@media (max-width: 47.99875em) {
  .callback__body {
    border-radius: 0.3125rem;
  }
}
@media (min-width: 61.99875em) {
  .callback__body {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
  }
}
.callback__title {
  color: #fff;
  font-weight: 600;
  line-height: 113.818%;
  max-width: 16.625rem;
  font-size: 1.75rem;
}
@media (max-width: 22.4375em) {
  .callback__title {
    font-size: 1.625rem;
  }
}
@supports (padding-top: clamp( 2.5rem , 0.7222222222rem  +  8.8888888889vw , 8rem )) {
  .works {
    padding-top: clamp( 2.5rem , 0.7222222222rem  +  8.8888888889vw , 8rem );
  }
}
@supports not (padding-top: clamp( 2.5rem , 0.7222222222rem  +  8.8888888889vw , 8rem )) {
  .works {
    padding-top: calc(2.5rem + 5.5 * (100vw - 20rem) / 61.875);
  }
}
@supports (padding-bottom: clamp( 2.1875rem , 1.2784090909rem  +  4.5454545455vw , 5rem )) {
  .works {
    padding-bottom: clamp( 2.1875rem , 1.2784090909rem  +  4.5454545455vw , 5rem );
  }
}
@supports not (padding-bottom: clamp( 2.1875rem , 1.2784090909rem  +  4.5454545455vw , 5rem )) {
  .works {
    padding-bottom: calc(2.1875rem + 2.8125 * (100vw - 20rem) / 61.875);
  }
}
.works__top {
  text-align: center;
  margin: 0 auto;
}
.works__top:not(:last-child) {
  margin-bottom: 3.75rem;
}
@supports (max-width: clamp( 20rem , 12.6630434783rem  +  32.6086956522vw , 38.75rem )) {
  .works__top {
    max-width: clamp( 20rem , 12.6630434783rem  +  32.6086956522vw , 38.75rem );
  }
}
@supports not (max-width: clamp( 20rem , 12.6630434783rem  +  32.6086956522vw , 38.75rem )) {
  .works__top {
    max-width: calc(20rem + 18.75 * (100vw - 22.5rem) / 57.5);
  }
}
.works__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (max-width: 47.99875em) {
  .works__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.works__text {
  color: #9E9DA2;
  font-weight: 500;
  line-height: 113.043%;
}
@supports (font-size: clamp( 1.125rem , 1.0027173913rem  +  0.5434782609vw , 1.4375rem )) {
  .works__text {
    font-size: clamp( 1.125rem , 1.0027173913rem  +  0.5434782609vw , 1.4375rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 1.0027173913rem  +  0.5434782609vw , 1.4375rem )) {
  .works__text {
    font-size: calc(1.125rem + 0.3125 * (100vw - 22.5rem) / 57.5);
  }
}
@media (min-width: 61.99875em) {
  .works__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
  }
}
@media (max-width: 61.99875em) {
  .works__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.works__image {
  padding: 0rem 6.25rem;
  display: inline-block;
  -ms-grid-row-align: start;
      align-self: start;
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
}
.works__image img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}
.works__image::after {
  content: "";
  position: absolute;
  width: 25rem;
  height: 25rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #75BF7A;
  border-radius: 50%;
}
@media (max-width: 29.99875em) {
  .works__image::after {
    width: 20rem;
    height: 20rem;
  }
}
@media (max-width: 61.99875em) {
  .works__image {
    padding: 0rem 3.75rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .works__image:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 22.4375em) {
  .works__image {
    padding: 0rem 1.875rem;
  }
}

@supports (padding-top: clamp( 2.1875rem , 1.2784090909rem  +  4.5454545455vw , 5rem )) {
  .benefits {
    padding-top: clamp( 2.1875rem , 1.2784090909rem  +  4.5454545455vw , 5rem );
  }
}
@supports not (padding-top: clamp( 2.1875rem , 1.2784090909rem  +  4.5454545455vw , 5rem )) {
  .benefits {
    padding-top: calc(2.1875rem + 2.8125 * (100vw - 20rem) / 61.875);
  }
}
@supports (padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
  .benefits {
    padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem );
  }
}
@supports not (padding-bottom: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
  .benefits {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 61.875);
  }
}
.benefits__title:not(:last-child) {
  margin-bottom: 3.25rem;
}
@media (max-width: 47.99875em) {
  .benefits__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@supports (padding-right: clamp( 0.0000000625rem , -6.5624998438rem  +  13.6718748047vw , 4.375rem )) {
  .benefits__body {
    padding-right: clamp( 0.0000000625rem , -6.5624998438rem  +  13.6718748047vw , 4.375rem );
  }
}
@supports not (padding-right: clamp( 0.0000000625rem , -6.5624998438rem  +  13.6718748047vw , 4.375rem )) {
  .benefits__body {
    padding-right: calc(0.0000000625rem + 4.3749999375 * (100vw - 48rem) / 32);
  }
}
@supports (padding-left: clamp( 0.0000000625rem , -6.5624998438rem  +  13.6718748047vw , 4.375rem )) {
  .benefits__body {
    padding-left: clamp( 0.0000000625rem , -6.5624998438rem  +  13.6718748047vw , 4.375rem );
  }
}
@supports not (padding-left: clamp( 0.0000000625rem , -6.5624998438rem  +  13.6718748047vw , 4.375rem )) {
  .benefits__body {
    padding-left: calc(0.0000000625rem + 4.3749999375 * (100vw - 48rem) / 32);
  }
}